button {
    margin: 20px
}

.number-input {
    width: 30px
}

.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    border: none;
}

.question-card {
    margin-left: auto;
    margin-right: auto;
}

.question-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-bottom: 30px;
}